/* IMPORTING FONTS */

@font-face {
    font-family: 'Helvetica Thin Italic';
    src: url('../fonts/HelveticaNeue-ThinItalic.eot');
    src: url('../fonts/HelveticaNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-ThinItalic.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-ThinItalic.woff') format('woff'),
        url('../fonts/HelveticaNeue-ThinItalic.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-ThinItalic.svg#HelveticaNeue-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Roman';
    src: url('../fonts/HelveticaNeue-Roman.eot');
    src: url('../fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeue-Roman.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Light';
    src: url('../fonts/HelveticaNeue-Light.eot');
    src: url('../fonts/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Light.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Light.woff') format('woff'),
        url('../fonts/HelveticaNeue-Light.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Bold Italic';
    src: url('../fonts/HelveticaNeue-BoldItalic.eot');
    src: url('../fonts/HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-BoldItalic.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-BoldItalic.woff') format('woff'),
        url('../fonts/HelveticaNeue-BoldItalic.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-BoldItalic.svg#HelveticaNeue-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Heavy';
    src: url('../fonts/HelveticaNeue-Heavy.eot');
    src: url('../fonts/HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Heavy.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Heavy.woff') format('woff'),
        url('../fonts/HelveticaNeue-Heavy.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Heavy.svg#HelveticaNeue-Heavy') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Ultra Light';
    src: url('../fonts/HelveticaNeue-UltraLightItal.eot');
    src: url('../fonts/HelveticaNeue-UltraLightItal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-UltraLightItal.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-UltraLightItal.woff') format('woff'),
        url('../fonts/HelveticaNeue-UltraLightItal.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-UltraLightItal.svg#HelveticaNeue-UltraLightItal') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Light Italic';
    src: url('../fonts/HelveticaNeue-LightItalic.eot');
    src: url('../fonts/HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-LightItalic.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-LightItalic.woff') format('woff'),
        url('../fonts/HelveticaNeue-LightItalic.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-LightItalic.svg#HelveticaNeue-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url('../fonts/HelveticaNeue-Bold.eot');
    src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Heavy Italic';
    src: url('../fonts/HelveticaNeue-HeavyItalic.eot');
    src: url('../fonts/HelveticaNeue-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-HeavyItalic.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-HeavyItalic.woff') format('woff'),
        url('../fonts/HelveticaNeue-HeavyItalic.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-HeavyItalic.svg#HelveticaNeue-HeavyItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Black Italic';
    src: url('../fonts/HelveticaNeue-BlackItalic.eot');
    src: url('../fonts/HelveticaNeue-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-BlackItalic.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-BlackItalic.woff') format('woff'),
        url('../fonts/HelveticaNeue-BlackItalic.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-BlackItalic.svg#HelveticaNeue-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Ultra Light';
    src: url('../fonts/HelveticaNeue-UltraLight.eot');
    src: url('../fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-UltraLight.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-UltraLight.woff') format('woff'),
        url('../fonts/HelveticaNeue-UltraLight.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Medium Italic';
    src: url('../fonts/HelveticaNeue-MediumItalic.eot');
    src: url('../fonts/HelveticaNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-MediumItalic.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-MediumItalic.woff') format('woff'),
        url('../fonts/HelveticaNeue-MediumItalic.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-MediumItalic.svg#HelveticaNeue-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Medium';
    src: url('../fonts/HelveticaNeue-Medium.eot');
    src: url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Italic';
    src: url('../fonts/HelveticaNeue-Italic.eot');
    src: url('../fonts/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Italic.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Italic.woff') format('woff'),
        url('../fonts/HelveticaNeue-Italic.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Black';
    src: url('../fonts/HelveticaNeue-Black.eot');
    src: url('../fonts/HelveticaNeue-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Black.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Black.woff') format('woff'),
        url('../fonts/HelveticaNeue-Black.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Black.svg#HelveticaNeue-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Thin';
    src: url('../fonts/HelveticaNeue-Thin.eot');
    src: url('../fonts/HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeue-Thin.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Thin.woff') format('woff'),
        url('../fonts/HelveticaNeue-Thin.ttf') format('truetype'),
        url('../fonts/HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* ------------------------------------------ */

/*--------- GLOBAL STYLING ----------*/

html {

    font-family: 'Helvetica Roman', Helvetica, Arial, sans-serif;
    font-size: 100%; /* Preventive setting for future use of EM / REM font-size */
    
}

h1, h2, h3, h4, h5, h6{
    padding:0;
    margin:0;
}

p {
    margin-top: 0;
}

figure {

    margin:0;
    padding:0;
}

img {
    max-width: 100%; /* Ensure that all the img cannot use more space than available space on its container  */
}
/*--------- ------------ ----------*/

/*--------- MAIN CONTENT ----------*/

#container {
    width: 1190px;
    margin: 0 auto;
    border: 2px solid #cfcfcf;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}



/*--------- ------------ ----------*/


/*--------- REUSABLES CLASSES ----------*/

.main-color {
    color: #29B6F6;
}

.styled-border {

    border-bottom: 2px solid #29B6F6;
    
}

.circle-border {

    display:inline-block;
    height: 3rem;
    width: 3rem;
    padding:8px;
    border:1px solid black;
    border-radius:50%;
}



.remove-bottom-margin {

    margin-bottom: 0;

}

.add-left-margin-12 {

    margin-left:12%;

}

.add-left-margin-10 {

    margin-left:10%;

}

.add-top-margin-10 {

    margin-top:10%;
}


/*--------- ----------------- ----------*/

/* ----------- HEADER ------------*/

#main-header {

    margin-top: 60px;
    margin-bottom: 60px;
}


#firstname {

    font-family: 'Helvetica Thin', Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
}

#lastname {

    font-family: 'Helvetica Ultra Light', Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
}

/*--------- ----------- ----------*/

/* ----------- CONTENT ------------*/
.main-content-titles {

    font-family: 'Helvetica Light', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

#trainings-first-row {

    display: flex; /* Define that div as flex container to position its flex (childs) elements */
    

}
#trainings-second-row {

    display: flex; /* Define that div as flex container to position its flex (childs) elements */
    

}

.trainings-date {
   
    flex: 20%; /* Define the min/max width (flex grow/shrink) of that flex element */
    display: flex; /* Make this flex element a flex container itself to position its flex (childs) elements */
    flex-direction: column; /* Make the city appear "under" the date */
    

}

.trainings-text {


    flex:80%; /* Define the min/max width (flex grow/shrink) of that flex element */
    
    

}


#experiences-first-row {

    display: flex; /* Define that div as flex container to position its flex (childs) elements */
    

}
#experiences-second-row {

    display: flex; /* Define that div as flex container to position its flex (childs) elements */
    

}

.experiences-date {
   
    flex: 20%; /* Define the min/max width (flex grow/shrink) of that flex element */
    display: flex; /* Make this flex element a flex container itself to position its flex (childs) elements */
    flex-direction: column; /* Make the city appear "under" the date */
    

}

.experiences-text {


    flex:80%; /* Define the min/max width (flex grow/shrink) of that flex element */
    
    

}

#recommandations-row {

    display: flex; /* Define that div as flex container to position its flex (childs) elements */
    justify-content: space-between; /* Ensure that there will always be a space between the flex elements */
    

}
.recommandations-first-text {

    width: 45%; /* Ensure that the maximum width of the flex (child) element will always be less than the half of container width to be able to see the space between flex elements */
}

.recommandations-second-text {

    width: 45%; /* Ensure that the maximum width of the flex (child) element will always be less than the half of container width to be able to see the space between flex elements */
}

#minor-content {

    
    width: 384px;
    box-sizing: border-box; /* Make the border and shadow be part of the whole width of this element */
    background-color: #29B6F6;
    
}

.minor-content-titles {

    background-color: #404040;
    text-align: center;
    padding: 10px 0 10px 0;

}

.minor-content-placing {

    padding:15%;
    word-wrap: break-word;

}

.minor-content-placing-hobbies {

    padding:15%;
    text-align: center;

}

#main-content {

    width: 696px;

}

#picture-location {

    padding:20%;
    text-align: center;
    
}

#picture {


    max-width: 238px; /* Ensure that the picture will look nice even if the size of the screen changes */
    border: 4px solid #039BE5;
    border-radius: 50%;
   
}


/*--------- ----------- ----------*/

/* ----------- FONT AWESOME ------------*/

/* Changing the colors of icons*/

.fa-graduation-cap, .fa-briefcase, .fa-pencil-alt, .fa-circle, .fa-dot-circle {

    color:#29B6F6;
    
    

}

/* Resizing precizely the icons */

.icon-resize { 
    
    font-size: 2.5rem;

}






/*--------- ----------------- ----------*/




/* ----------- RESPONSIVENESS ------------*/

@media all and (max-width:1024px) { /* Tablet breakboint: if the device-width is less than 1024px */

    #container { 

       
        width: 80%; /* The container takes 80% of the wide space herited from body instead of 1190px */
        
    }

    #main-header {

        margin-top: 0; /* Remove the top margin of the main header */

    }

    #main-content {
        width:100%; /* The main content takes all the available wide space herited from container instead of 696px */
        box-sizing: border-box; /* padding is included inside the width and height of this element */
        padding: 0 5%; 
    }

    #minor-content {

        width:100%; /* The main content takes all the available wide space herited from container instead of 384px */
        box-sizing: border-box; /* padding is included inside the width and height of this element */
        padding: 0 5%; 
        
        
    }

    .minor-content-placing {
        padding: 10%;
    }

    .minor-content-placing-hobbies {

        padding: 10%;
    }

    .center-content {

        text-align: center; /* Center the name and description while the screen is resized. */
    }

    #recommandations-row {

        flex-direction: column;
    }

    .recommandations-first-text {

        width: 100%;
    }

    .recommandations-second-text {

        width: 100%;

    }
    

}

@media all and (max-width:768px) { /* Smartphone breakboint: if the device-width is less than 768px */

    #container { 

        width: 100%; /* The container takes all the available wide space herited from container instead of 1190px */
        
    }

    .minor-content-placing {
        padding: 5%;
    }

    .minor-content-placing-hobbies {

        padding: 5%;
    }
}
/*--------- ----------------- ----------*/